@use '../../scss/utils/functions'as fn;
@use '../../scss/utils/mixins'as *;
@use '../../scss/global/colors'as *;

.navigation {
    .header {
        height: 12rem;
        width: 100%;
        position: sticky;
        top: 0;

        .nav {
            @include flexAd(_, _, _, center, space-between);
            padding-top: 3rem;
            position: relative;
            z-index: 1;

            .logo {
                letter-spacing: fn.rem(8);
                color: $VeryLightGray;
                font-size: 25px;
                margin-top: fn.rem(1);
                font-weight: 700
            }

            .userIntra {
                @include flexAd(_, fn.rem(20), _, _, _);

                .userAccount {
                    width: 1.2rem;
                    height: 1.2rem;
                    color: $VeryLightGray;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .auth {
                position: absolute;
                right: 0;
                background-color: $VeryLightGrayishBlue;
                transition: all .2s ease-in-out;
                top: -10rem;

                .authUser {
                    background: #000;
                    display: flex;
                    flex-direction: row-reverse;
                }

                .login {
                    padding: .5rem;
                    column-gap: .3rem;
                    width: 100%;
                    font-size: 15px;
                    color: $VeryDarkGrayishBlue;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .authActive {
                transition: all .2s ease-in-out;
                top: 0;
            }
        }
    }
}