@use '../../scss/utils/functions'as fn;
@use '../../scss/utils/mixins'as *;
@use '../../scss/global/colors'as *;

.navigation {
    .header {
        height: 12rem;
        width: 100%;
        position: sticky;
        top: 0;

        .nav {
            @include flexAd(_, _, _, center, space-between);
            padding-top: 3rem;
            position: relative;
            z-index: 1;

            .logo {
                letter-spacing: fn.rem(8);
                color: $VeryLightGray;
                font-size: 25px;
                margin-top: fn.rem(6);
                font-weight: 700
            }

            .userIntra {
                @include flexAd(_, fn.rem(30), _, center, _);

                .userAccount {
                    width: 1.2rem;
                    height: 1.2rem;
                    color: $VeryLightGray;
                }
            }

            .auth {
                position: absolute;
                right: 0;
                background-color: $VeryLightGrayishBlue;
                transition: all .2s ease-in-out;
                top: -10rem;
                display: flex;
                column-gap: .5rem;
                padding: .5rem;
                color: $VeryDarkGrayishBlue;
            }

            .authActive {
                transition: all .2s ease-in-out;
                top: 0;
            }
        }
    }
}