@use '../../scss/global/colors'as *;
@use '../../scss/utils/functions'as *;

.customButton {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.light {
    .customButton {
        background-color: $VeryLightGrayishBlue;
        border: 1px solid $DarkGrayishBlue;
        color: $VeryDarkGrayishBlue;

        &:hover {
            cursor: pointer;
            background-color: $VeryDarkGrayishBlue;
            color: $VeryLightGray;
        }

        &.google {
            border: 1px solid $BrightBlue;

            &:hover {
                background-color: $BrightBlue;
            }
        }

        &.task {
            border: none;
            padding: .5rem;
            padding-inline: 1rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: max-content;

            &:hover {
                background-color: $BrightBlue;
            }
        }

        &.back {
            width: max-content;
            padding-inline: 1rem;
            padding-block: .5rem;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
            border: none;
            font-weight: 200;
            color: $VeryDarkGrayishBlue;
            display: flex;
            column-gap: .5rem;
            align-items: center;
            background: #fff;
        }

        &.Profile {
            border:none;
            display: flex;
            padding-block: 2rem;
            justify-content: space-between;
            background-color: hsl(0, 0%, 98%);
            border-radius: 0;
            align-items: center;

            &:hover {
                background-color: $VeryLightGrayishBlue;
                color: $VeryDarkGrayishBlue;
            }

        }
        &.Delete{
            border:none;
            display: flex;
            padding-block: 2rem;
            align-items: center;
            justify-content: space-between;
            border-radius: 0;
            font-weight: 100;
            font-size: 18px;
            background: red;
            color: $VeryLightGray;
        }
    }
}

.dark {
    .customButton {
        background-color: transparent;
        border: 1px solid $DarkGrayishBlue;
        color: $VeryLightGrayishBlue;

        &:hover {
            cursor: pointer;
            background-color: $VeryDarkGrayishblue;
            color: $VeryLightGray;
        }

        &.google {
            border: 1px solid $BrightBlue;

            &:hover {
                background-color: $BrightBlue;
            }
        }

        &.task {
            border: none;
            padding: .5rem;
            padding-inline: 1rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: max-content;

            &:hover {
                background-color: $BrightBlue;
            }
        }

        &.back {
            width: max-content;
            padding-inline: 1rem;
            padding-block: .5rem;
            background-color: $VeryDarkBlue;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, .8);
            border: none;
            font-weight: 200;
            color: $VeryLightGrayishBlue;
            display: flex;
            column-gap: .5rem;
            align-items: center;
        }

        &.Profile {
            border:none;
            display: flex;
            padding-block: 2rem;
            justify-content: space-between;
            background-color: $VeryDarkDesaturatedBlue;
            border-radius: 0;
            font-weight: 100;
            align-items: center;
            font-size: 18px;

            &:hover {
                background-color: $VeryDarkBlue;
                color: $VeryLightGray;
            }

        }

        &.Delete{
            border:none;
            display: flex;
            padding-block: 2rem;
            justify-content: space-between;
            border-radius: 0;
            align-items: center;
            font-weight: 100;
            font-size: 18px;
            background: red;
        }
    }
}
