.profile {
    display: flex;
    .header {
        height: 7rem;
    }

    .userDetails {
        display: flex;
        justify-content: space-between;
    }

    .loading {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}