@use '../../scss/global/colors'as *;
@use '../../scss/utils/functions'as fn;
@use '../../scss/utils/mixins'as *;

.home {

    .homeContent {
        .taskLocation {
            margin-top: -7.5rem;
            width: 100%;
            @include flexAd(_, _, _, _, space-between);
            position: relative;
            border-radius: 5px;
            height: 50px;
            padding-left: 1rem;
            margin-bottom: 1.5rem;

            .iconNinput {
                @include flexAd(_, .8rem, _, center, _);
                width: 100%;

                .crl {
                    width: 20px;
                    height: 20px;
                    border: 1px solid $DarkGrayishBlue;
                    opacity: .3;
                    border-radius: 50%;
                }

                .taskInput {
                    width: 100%;
                    height: 100%;
                }
            }

            .locked {
                margin-right: 1rem;
            }
        }
    }

    .userTasks {
        position: relative;
        border-radius: 5px;

        .tasks {
            .allTasks {
                display: flex;
                justify-content: space-between;
                padding-inline: .8rem;
                padding-block: 1.2rem;

                .taskUpper {
                    display: flex;
                    align-items: center;
                    column-gap: 1.2rem;

                    .finishedTask {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: linear-gradient(hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
                    }

                    .pendingTask {
                        width: 20px;
                        height: 20px;
                        border: 1px solid $DarkGrayishBlue;
                        opacity: .3;
                        border-radius: 50%;

                    }
                }
            }

            .hr {
                width: 100%;
                height: 1px;
                background-color: $VeryDarkGrayishBlue;
                opacity: .2;
            }
        }

        .overView {
            padding-block: 1.2rem;
            padding-inline: .8rem;
        }

        .overView p {
            font-size: 12px;
        }
    }

    .userPrompt {
        margin-top: 15rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        text-align: center;

        .prompt {
            align-self: center;
            font-size: 60px;
            color: rgb(245, 102, 102);
            border-radius: 50%;
        }
    }
}