.home{
    
    .homeContent{
        background: #000;
        margin-top: -5rem;
        width: 100%;
        position:relative;
        display: flex;
        justify-content: space-between;
        transform: none;
    }
}