@use '../../scss/global/colors'as *;
@use '../../scss/utils/functions'as fn;
@use '../../scss/utils/mixins'as *;

.home {

    .homeContent {
        .taskLocation {
            margin-top: -7.5rem;
            width: 100%;
            @include flexAd(_, _, _, _, space-between);
            position: relative;
            border-radius: fn.rem(5);
            height: fn.rem(50);
            padding-left: 1rem;
            margin-bottom: 1.5rem;

            .iconNinput {
                @include flexAd(_, .8rem, _, center, _);
                width: 100%;

                .crl {
                    width: fn.rem(20);
                    height: fn.rem(20);
                    border: 1px solid $DarkGrayishBlue;
                    opacity: .3;
                    border-radius: 50%;
                    padding: .58rem;
                }

                .taskInput {
                    width: 100%;
                    height: 100%;
                }
            }

            .locked {
                margin-right: 1rem;
            }
        }
    }

    .userTasks {
        position: relative;
        border-radius: fn.rem(5);

        .tasks {
            .allTasks {
                @include flexAd(_, 1rem, _, center, space-between);
                padding-inline: .8rem;

                .taskUpper {
                    @include flexAd(_, .8rem, _, center, _);
                    width: 100%;
                    height: fn.rem(60);

                    .finishedTask {
                        aspect-ratio: 1/1;
                        padding: .3rem;
                        @include flexAd(_, _, _, center, center);
                        border-radius: 50%;
                        background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

                        .checkedColor {
                            color: $VeryLightGray;
                            font-size: fn.rem(12);
                        }
                    }

                    .pendingTask {
                        aspect-ratio: 1/1;
                        border: 1px solid $DarkGrayishBlue;
                        opacity: .3;
                        padding: calc(.3rem - 1px);
                        display: flex;
                        border-radius: 50%;

                        .checkedColor {
                            color: transparent;
                            font-size: fn.rem(12);
                        }
                    }

                    .containText {
                        width: 100%;

                        .todoText {
                            width: fn.rem(210);
                            word-wrap: break-word;
                            text-transform: capitalize;
                        }

                        .crossOff {
                            text-decoration: line-through;

                        }
                    }
                }

                .todoDelete {
                    font-size: 1.5rem;
                    color: $DarkGrayishBlue;
                    opacity: .5;
                    font-weight: 200;

                    @include view(768px) {
                        font-size: 2rem;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .hr {
                width: 100%;
                height: 1px;
                background-color: $VeryDarkGrayishBlue;
                opacity: .2;
            }
        }

        .overView {
            padding-block: 1.2rem;
            padding-inline: .8rem;
            display: flex;
            justify-content: space-between;
            position: relative;

            .loadingTasks {
                width: 100%;
                justify-content: center;
            }

            .taskCheck {
                text-align: center;
                width: 100%;
                font-size: 16px;
            }

            .filterAction {
                display: flex;
                justify-content: center;
                column-gap: 1rem;

                @include viewMax(480px) {
                    position: absolute;
                    top: 5rem;
                    width: 100%;
                    left: 0;
                    column-gap: 1.5rem;
                    padding: 1rem;
                    border-radius: fn.rem(5);

                }
            }
        }

        .overView p {
            font-size: fn.rem(14);

            @include view(768px) {
                font-size: fn.rem(16);
            }
        }
    }

    .userPrompt {
        margin-top: 15rem;
        padding-bottom: 5rem;
        @include flexAd(column, _, 1rem, _, _);
        text-align: center;

        .prompt {
            align-self: center;
            font-size: fn.rem(60);
            color: rgb(245, 102, 102);
            border-radius: 50%;
        }
    }
}