@use '../../scss/utils/mixins'as *;

.completed {
    height: 10rem;
    width: 100%;
    position: sticky;
    top: 0;
    @include view(768px){
      
    }

    .completedNav {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-top: 1rem;

        .navTop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .xp{
                display: flex;
                align-items: center;
                font-size: 16px;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            margin-top: 2.5rem;
            font-size: 100px;
           
        }
    }
}