@use '../utils'as utils;
@use './colors'as *;
@use '../utils/functions'as fn;
@use '../utils/fonts'as *;
@use '../utils/mixins'as *;


html {
  box-sizing: border-box;
  font-size: 100%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #fff9);
  border-radius: 20px;

  &:hover {
    background: linear-gradient(transparent, #fff);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  outline: none;
  background-color: transparent;
  border: none;
}

input[type='password'] {
  letter-spacing: .4rem;
}

a,
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:visited,
a:active {
  cursor: pointer;
  letter-spacing: fn.rem(0.2);
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

li {
  letter-spacing: 0.5;
}

body {
  font-weight: 400;
  background-color: $VeryLightGrayishBlue;
  font-size: fn.rem(18);
  font-family: 'Josefin Sans', sans-serif;
}

.light {

  .text {
    color: $DarkGrayishBlue;
    font-weight: 400;
  }

  .alt-text {
    color: $DarkGrayishBlue;
  }



  .bg {
    background-color: $VeryLightGrayishBlue;
  }

  .content-bg {
    background-color: $VeryLightGray
  }

  .header {
    background: url(../../../public/images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cross {
    color: $DarkGrayishBlue;
    opacity: .5;
  }

  .hover-action {
    &:hover {
      color: $VeryDarkGrayishBlue;
      cursor: pointer;
    }
  }
}


/////////////////////////////////////////Dark theme
.dark {
  .text {
    color: $LightGrayishBlue;
    font-weight: 300;
  }

  .alt-text {
    color: $LightGrayishBlue-hover;
  }

  .text-hover {
    color: $LightGrayishBlue-hover
  }

  .bg {
    background-color: $VeryDarkBlue
  }

  .content-bg {
    background-color: $VeryDarkDesaturatedBlue;
  }

  .header {
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../../../public/images/bg-desktop-dark.jpg);
  }

  ::placeholder {
    color: $LightGrayishBlue;
    font-weight: 200;
  }

  .cross {
    color: $DarkGrayishBlue;
    opacity: .5;
  }

  .hover-action {
    &:hover {
      color: $VeryLightGray;
      cursor: pointer;
    }
  }
}