@use '../../scss/utils/mixins.scss'as *;
@use '../../scss/utils/functions'as fn;

.container {
    margin-inline: 1.5rem;
    max-width: fn.rem(500);

    @include view(500px) {
        margin-inline: auto;
    }
}

.profile {
    margin-inline: 1.5rem;
    max-width: fn.rem(768);

    @include view(769px) {
        margin-inline: auto;
    }
}